# Gradle
.gradle/
build/
*/build/
.externalNativeBuild/
.cxx/

# Android Studio
*.iml
/local.properties
.idea/*
!.idea/codeStyles
!.idea/runConfigurations
!.idea/inspectionProfiles
!.idea/vcs.xml

# OS files
.DS_Store
Thumbs.db

# Captures
captures/

# JetBrains
*.iws